[Unit]
Description=MyBakery
Requires=network.target

[Service]
Type=simple
User=rails
Group=rails
WorkingDirectory=/home/rails/MyBakeryServer
ExecStart=/bin/bash -lc 'rails s'
TimeoutSec=30s
RestartSec=15s
Restart=always

[Install]
WantedBy=multi-user.target
