<H1>List Recipes</H1>
<TABLE>
  <TR>
    <TH>Name</TH>
    <TH>Actions</TH>
  </TR>
  <% @recipes.each do |recipe| %>
    <TR>
      <TD><%= "#{recipe.product.name} #{recipe.name}" %></TD>
      <TD>
        <%= link_to :edit, edit_recipe_path(recipe) %> |
        <%= link_to :prepare, prepare_recipe_path(recipe) %>
      </TD>
    </TR>
  <% end %>
</TABLE>
