<DIV class="edit" id="sale_edit">
	<H1>Edit Sale</H1>
        <%= link_to "Previous", edit_sale_path(@sale.previous) if @sale.previous %>
        <%= link_to "Back", sales_path %>
        <%= link_to "Next", edit_sale_path(@sale.next) if @sale.next %>
        <%= render "form" %>
</DIV>
