<DIV class="show" id="sale_show">
  <H1>Show Sale</H1>
  <TABLE>
    <TR>
      <TH>Item</TH>
      <TH>Value</TH>
    </TR>
    <TR>
      <TD><STRONG>Date</STRONG></TD>
      <TD><%= @sale.date %></TD>
    </TR>
    <TR>
      <TD><STRONG>Vendor</STRONG></TD>
      <TD><%= @sale.vendor.name %></TD>
    </TR>
    <TR>
      <TH>Products</TH>
    </TR>
    <TR>
      <TD><%=  %>
    </TR>
  </TABLE>
  <%= link_to 'Edit', edit_sale_path(@sale) %>
</DIV>
